# Dependencies
node_modules/

# Build output
dist/


# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
.cursor/
*.swp
*.swo

# Claude Code
.claude/

# Test data
.test/

# Environment
.env
.env.*


# icons
.icons/

# Rust / Tauri build
src-tauri/target/
src-tauri/Cargo.lock


#Superpower Plans
docs/superpowers/plans